Body{ 
    background-color: rgb(226, 251, 251);
}
h1 {
    color: rgb(53, 76, 139);
    text-align: center;
}

.autobiografia {
    font-size: 1.3em;
    text-align: justify;
    padding-bottom: 200px;
    padding-top: 200px;
}


#botao {
    border: 1px solid black;
    border-radius: 20px;
}


.resposta {
    font-size: 1.1em;
    padding: 10px;

}

.hobb {
    padding: 90px 0 10px 20px;
    font-size: x-large;
}

li {
    padding: 20px;
    font-size: 1.2em;
}

.pesca {
    height: 400px;
    width: 400px;
    border-radius: 30px;
    display: block;
    margin: auto;
}

.titletable {
    padding: 150px 0px 10px 2px ;
}


table {
    width: 700px;
    position: relative;
    border: 1px solid black;
    padding: 3px;
}

th, td  {
    border: 1px solid black;
    text-align: center;
}

td > img {
     height: 100px;
    width:100px;
    display: block;
    margin: auto;
}

th {
    background-color: rgb(175, 175, 175);
}

a {
    color: rgb(194, 194, 194);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

.link {
    padding-top: 150px ;
}
